@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-theme {
  background-color: rgb(37 36 36);
  color: white;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.light-theme {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

[data-theme="dark"] {
  @apply dark-theme;
}

[data-theme="light"] {
  @apply light-theme;
}